.stack > * + * {
  margin-top: var(--stack-space, 1.5em);
}

.stack h1 {
  font-size: clamp(1.8rem, 1.5vw, 2.2rem);
}

.stack h2 {
  font-size: clamp(1.65rem, 1.45vw, 2rem);
  border-bottom: 2px solid #444;
}

.stack h3 {
  font-size: 1.8rem;
}

.stack h2,
.stack h3 {
  --stack-space: 1.5em;
}

.stack h2 + *,
.stack h3 + * {
  --stack-space: 0.1em;
}

.stack p {
  line-height: 1.8;
}

.stack a {
  color: blue;
  text-decoration: underline;
}

.stack ul {
  padding: revert;
  list-style: revert;
}
